body {
    background-color :aliceblue;
    overflow-y: auto;
}


.loginForm {
    background-color: white;
    border-radius: 20px;
    position: fixed;
    left: 50%;
    top: 48%;
    transform: translate(-50%, -50%);
    padding: 4%;
    width: 90%;
    max-width: 400px;
}

#loginText 
{
    font-family :'Agency FB';
    font-size: 37px;
    padding-left : 40%; 
}

/* overflow: y auto*/

.txtBox {
    margin-top: 10px;

    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;

    border-color: beige;
    font-family: 'Century Gothic';
    width: 98%;
    border-radius: 4px;
}

.showPassword {
    margin-top: 15px;
    margin-bottom: 60px;
}

#loginButton {
    text-decoration: none;
    border-radius: 12px;
    transition-duration: 0.6s;
    margin-left: 20%;
    margin-top: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 26%;
    padding-right: 26%;
    background-color: #5EC17F;
    color: white;
    font-size: larger;
    font-family: Britannic;

}
    #loginButton:hover {
        background-color: #53a36e;
    }


#backButton {
    text-decoration: none;
    border-radius: 12px;
    transition-duration: 0.6s;

    margin-left: 23%;
    margin-top: 10%;
    margin-bottom: 20px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 23%;
    padding-right: 23%;
    background-color: transparent;
    color: #5EC17F;
    font-size: larger;
    font-family: Britannic;
}
    #backButton:hover {
        background-color: #5EC17F;
        color: white;
    }

#registerDiv * {
    float: left;  
}

#noAccText {
    font-family: 'Century Gothic';
    font-size: 19px;
    margin-bottom: 2px;
}

#registerButton {
    margin-top: 5%;
    margin-left: 2%;
    color: black;
}