html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0 0 0 0;
}

#sidebar {
    left: -5px;
    top: 0;
    position: sticky;
    opacity: 75%;
    transition: 0.25s;
    margin-top: 30px;
    width: 50px;
    background-color: aqua;
    padding: 20px 5px 225px;
    overflow: hidden;
}

    #sidebar img {
        margin-right: 10px;
    }

    #sidebar:hover {
        transition-duration: 0.4s;
        margin-left: -40px;
        width: 250px;
    }

        #sidebar:hover img {
            margin-left: 10px;
        }

#usericon {
    margin-left: 89px;
}

#loginIcon {
    margin-left: 75px;
}


.sidebarText {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s;
    padding-left: 10px;
}

.sidebarIcon {
    margin-left: 60px;
    margin-right: 30px;
    width: 45px;
    height: 45px;
}

.sidebarText {
    text-decoration: none;
}

.sidebar-item:hover .sidebar-text {
    display: block;
}

#createCVButton {
    text-decoration: none;
    position: absolute;
    font-size: 40px;
    border-radius: 40%;
    border: outset aliceblue;
    color: darkslateblue;
    margin-bottom: 150px;
    margin-left: 87%;
    margin-right: 2%;
    padding-left: 15px;
    padding-right: 15px;
}

#CVBar {
    background-color: black;
    position: absolute;
    border-radius: 12px;
    padding: 10px;
    margin-left: 17%;
    margin-right: 17%;
    margin-top: 35px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20%;
    padding-right: 20%;
}
    #CVBar img {
        margin-left: 17%;
        width: 20%;
        height: 20%;
    }

#CVFiles {
    background-color: yellow;
    position: absolute;
    border-radius: 12px;

    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 250px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20%;
    padding-right: 20%;
}

    #CVFiles div a {
        font-size: 45px;
        text-align: center;

        margin-left: 8%;
        margin-bottom: 30px;

        padding-left: 10%;
        padding-bottom: 15px;
        padding-top: 15px;
    }
    #CVFiles div {
        background-color: aqua;
        float: left;
        margin-left: 4%;
        margin-right: 4%;
        padding-left: 4%;
        padding-right: 4%;
    }
