html {
    background-color: #e0e0e0;
}
body {
    margin: 0 0 0 0;
}


#sidebar {
    position: fixed;
    opacity: 95%;
    margin-top: 30px;
    width: 57px;
    transition-duration: 0.5s;
    background-color: #00f9ff;
    padding: 20px 5px 330px;
    overflow: hidden;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}

    #sidebar img {
        margin-right: 10px;
    }

    #sidebar:hover img {
        transition-duration: 0.5s;
        margin-left: -10px;
    }

    #sidebar:hover {
        transition-duration: 0.5s;
        width: 230px;
    }


#usericon {
    margin-left: 79px;
}

#loginIcon {
    margin-left: 75px;
}


.sidebarText {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s;
    padding-left: 10px;
}

.sidebarIcon {
    margin-left: 60px;
    margin-right: 30px;
    width: 45px;
}

.sidebarText {
    text-decoration: none;
}
/*
.sidebar-item:hover .sidebar-text {
    display: block;
} 
    this dont do nothin pt3
*/



#createCVButton {
    text-decoration: none;
    position: fixed;
    font-size: 40px;
    border-radius: 40%;
    border: outset aliceblue;
    color: darkslateblue;
    margin-bottom: 150px;
    margin-left: 4%;
    padding-left: 15px;
    padding-right: 15px;

    background-color: white;
    opacity: 95%;
}
#createCVButton:hover{
    background-color: aliceblue;
    transition: 0.6s;
}








#CVTop {
    margin-left: 17%;
    margin-right: 17%;
    margin-top: 35px;
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 5%;
    padding-right: 5%;
    /*background: linear-gradient(to left top, rgba(0, 255, 255, 1) 0%*/ /*bottom-right color*//*, rgba(255, 0, 255, 0.5) 50%*/ /*middle color*//*, rgba(255, 255, 0, 1) 100%*/ /*top-left color*/ /*), linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1))*/ /*"faked" black background make sure to add last or it will appear before the transparent/colored layer*//*;*/

    /*    background: linear-gradient(to left top, #00f9ff 0% /bottom-right color/, #0900ff 100% /top-left color/ ), linear-gradient(rgb(143,252,255),rgb(143,196,255));*/
    /*  background-color: #8ffcff;*/
    background-color: white;
    opacity: 94%;
    border-radius: 12px;
}
    #CVTop img {
        width: 10%;
    }
    #CVTop div * {
        float: left;
        margin-bottom:  10px;
        margin-left: 3%;
    }






/*bot side*/
#CVBot {
    /* background-color: #00f9ff;*/
    background-color: white;
   
    opacity: 90%;
    border-radius: 12px;
    min-width: 750px;
    margin-left: 13%;
    margin-top: 270px;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 5%;
    padding-right: 21%;
}
    
    #CVBot div {
        box-shadow: 1px 3px 6px #857f44;
        background-color: #f5f5dc;
        border-radius: 6px;
/*        float: unset;  this sh dont change nun?? */
        margin-bottom: 25px;
    }
    #CVBot div a {
            color: black;
            text-decoration: none;
            font-size: 3vw;
            /*text-align: center;  don't change nun pt 2*/
            padding-left: 1.5%;
    }


@media (max-width: 1500px) {

    #CVBot {
        min-width: 50px;
    }
}







