body {
    background-color: aliceblue;
    width: 100%;
}
/* add button hover */

#topNav {
    background-color: aliceblue;
    position: fixed;
    width: 100%;
    max-width: 100%;
    background-color: black;
}

#homelanderText {
    font-size: 35px;
    font-family: 'Baskerville Old Face';
    text-decoration: none;

    margin-top: 4px;
    margin-left: 100%;
}

#loginButton {
    text-decoration: none;
    border-radius: 12px;
    transition-duration: 0.6s;
    margin-left: 20%;
    margin-top: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 26%;
    padding-right: 26%;
    background-color: #5EC17F;
    color: white;
    font-size: larger;
    text-decoration: none;
}

#registerButton {
    text-decoration: none;
}